  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-md-3">

        <p class="lead">Categorias</p>
        <div class="list-group">
          <% @categories.each do |category| %>
          <a href="#" class="list-group-item"><%= category.description %></a>
          <% end %>        
        </div>
        <br>
        <h5>Usuário logado:</h5>
        <h4><%= current_member.email %></h4>
        <h6>(by email)</h6>      
      </div>

      <div class="col-md-9">

        <div class="row carousel-holder">
          <div class="col-md-12"
            <div id="carousel-exemple-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-exemplexample-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-exemple-generic" data-slide-to="1"></li>
                <li data-target="#carousel-exemple-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">     
              <div class="carousel-inner" src="http://placehold.it/800x300" alt="">     
            </div>
            <a class="left carousel-control" href="#carousel-exemple-generic" data-slide="prev">
              <spam class="glyphicon glyphicon-chevron-left"></spam>
            </a>  
            <a class="left carousel-control" href="#carousel-exemple-generic" data-slide="next">            
              <spam class="glyphicon glyphicon-chevron-right"></spam>             
            </a>
          </div>
        </div>
      
        <div class="row">
          <p></p><p></p>
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="<% @ads.each do |ad| %><%= ad.img %><% end %>" alt="">
              <div class="caption">
                <h4 class="pull-right">R$<% @ads.each do |ad| %><%= ad.price_cents %><% end %></h4>
                <h4><a href="#"><% @ads.each do |ad| %><%= ad.title %><% end %></a></h4>
                <p><% @ads.each do |ad| %><%= ad.description %><% end %></p>
              </div>  
              <div class="ratings">
                <a target="_blank" href="http://bootsnipp.com"/>Reservar</a><p class="pull-right"><% @ads.each do |ad| %><%= ad.views %><% end %></p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://i64.tinypic.com/1zxmpab.png" alt="">
              <div class="caption">
                <h4 class="pull-right">R$24.99</h4>
                <h4><a href="#">Smurf</a></h4>
                <p>Smurf fofo</p>
              </div>  
              <div class="ratings">
                 <a target="_blank" href="http://bootsnipp.com"/>Reservar</a><p class="pull-right">86 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div> 
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://i67.tinypic.com/oprait.jpg" alt="">
              <div class="caption">
                <h4 class="pull-right">R$56.99</h4>
                <h4><a href="#">Boo</a></h4>
                <p>Menina do Monstros SA</p>
              </div>  
              <div class="ratings">
                <a target="_blank" href="http://bootsnipp.com"/>Reservar</a><p class="pull-right">35 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          <div class="col-sm-4 col-lg-6 col-mb-4">
            <div class="thumbnail">
              <img src="http://i68.tinypic.com/255utd5.jpg" alt="">
              <div class="caption">
                <h4 class="pull-right">R$22.99</h4>
                <h4><a href="#">Buzz Lightyear</a></h4>
                <p>Herói de Toy Story. </p>
              </div>  
              <div class="ratings">
                <a target="_blank" href="http://bootsnipp.com"/>Reservar</a><p class="pull-right">61 Views</p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>                  
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
              </div>
            </div>
          </div>  
          
        </div>
      </div>
    </div>
  </div>  